.header-title {
  //@apply pb-8;
  &.utopia {
    @apply font-utopia;
  }


  &.small {
    @apply text-2xl;
  }

  &.medium {
    @apply text-3xl;
  }

  &.large {
    @apply text-4xl;
  }



  &.dark-gray {
    @apply text-gray_4;
  }

  &.gray {
    @apply text-gray_1;
  }

  &.green {
    @apply text-green;
  }

  &.red {
    @apply text-red;
  }

  &.white {
    @apply text-white;
  }

  &.bold {
    @apply font-semibold;
  }

  &.left {
    @apply text-left;
  }

  &.right {
    @apply text-right;
  }

  &.center {
    @apply text-center;
  }
  .highlight-wrapper {
    border-style: solid;
    border-bottom-width: 24px;
    top: -24px;
    padding: 0 1rem;
    left: -0.5rem;
  }

  @media (min-width: 768px) {
    &.md\:text-6xl {
      .highlight-wrapper {
        border-bottom-width: 34px;
        top: -34px;
      }
    }
    &.md\:text-7xl {
      .highlight-wrapper {
        border-bottom-width: 44px;
        top: -52px;
      }
    }
  }
}