.column-grid{
    .grid-item{
        @apply mb-9
    }
    .grid-item-1_2 {
        width: 49%;
    }
    .grid-item-1_3 {
        width: 32%;
    }
    .grid-item-1_4 {
        width: 24%;
    }
    @media (max-width: 768px){
        .grid-item{
            width: 100%;
        }

    }
}