body {
  .sticky-wrapper{
    .mar-header {
      .middle-bar-menu {
        & > li {
          @apply ml-5 md:ml-7 min-h-0 md:min-h-min80;
          & > a {
            @apply flex items-center;
          }

          &:last-child{
            @apply ml-0 pl-5;
          }
        }

        .customer-header-menu {
          & > li {
            @apply ml-0 pb-2.5;
            a {
              @apply text-xl text-gray_2 flex justify-center;
              span {
                &.caption {
                  @apply text-sm text-main ml-auto;
                }
              }
            }
          }
        }
      }

    }


    &.stickyHeader {
      animation: smoothScroll 200ms forwards;
      @apply fixed top-0 w-full z-20 shadow-small;
      .announcement-bar{
        @apply hidden;
      }
      .top-bar{
        @apply hidden;
      }

    }
  }

  &.on{
    .sticky-wrapper{
      &.stickyHeader {
        .main-navigation-wrapper{
          @apply border-none;
          &:after{
            @apply z-10 inset-0 opacity-100;
          }
        }
      }
    }

  }
  &.menu-opened{
    overflow: hidden;
    .sticky-wrapper {
      &.stickyHeader {
        position: relative;
        animation: none;
      }
    }
  }
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-142px);
  }

  100% {
    transform: translateY(0px);
  }
}